* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: linear-gradient(45deg, #010c3d, #08002e);
}

.carousel-inner .overlay{
    z-index: 9;
    background: linear-gradient(transparent, rgba(32, 20, 66, 0.315), #010c3d);
}

.carousel a{
    z-index: 999;
}

.fixed-img {
    height: 50vh;
    background: url(../Images/logo.jpg) no-repeat fixed center;
    background-size: 100% 100%;
}

.gap{
    gap: .3rem;
}

.special-row{
    background: linear-gradient(135deg, rgb(66, 28, 116), #6f3dca, rgb(66, 28, 116));

}

.mycard {
    box-shadow: 0 0 30px #ffffff1e;
    scale: .8;
    max-height: fit-content;
}

.mycard:hover {
    box-shadow: 0 0 20px inset #00000096;
}

.mycard:hover .card-img-top {
    box-shadow: 0 0 20px #000000;
}

.mycard,
.mycard img {
    border-radius: 1rem;
}

.team {
    height: 400px;
    scale: .8;
    transition: .4s;
    cursor: pointer;
}

.team .card-img-top{
    filter: blur(2px);
}

.blur{
    backdrop-filter: blur(2px);
}

.team .card-img-overlay {
    background-color: #20202069;
}

.team,
.team .card-img-overlay,
.team .card-img-top {
    border-radius: 5rem;
}

.team:hover {
    transition: .4s;
    scale: .86;
}

.special-image1 {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 15% 100%);
}

.special-image2 {
    clip-path: polygon(0px 0px, 100% 0px, 85% 100%, 0px 100%);
}

.special-image {
    background-image: url(../Images/img3.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease-in-out;
}

.fs-6 {
    font-size: 1rem !important;
}

.social-icons {
    z-index: 9999;
    right: 0;
    margin-right: 0.65rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    width: 40px;
    overflow: hidden;
}
